body {
    margin: 1rem;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
}
h1 {
    margin-left: 1rem;
    color: #3b3b3b;
}
.btn-random {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: #3b3b3b;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 2px 2px 2px 1px #3b3b3b;
}
.colour-list {
    list-style-type: none;
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.colour {
    width: 20%;
    height: 30rem;
    border: 0.1rem solid black;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 1.5rem;
    color: black;
}

@media screen and (max-width: 800px) {
    
.colour-list {
    display: flex;
    flex-direction: column;
}

.colour {
    width: 100%;
    height: 10rem;
}

}